@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    padding-bottom: 6px;
    border-bottom: #858585 solid 1.2px;
    color: #858585;
    font-size: 12px;
    margin-top: 6px;
}
.header-top b{
    color: black;
}
.header-top-links a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
    color: #858585;
    font-weight: 500;
}

.header-middle{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    padding-top: 16px;
    align-items: center;
}

.header-search input{
    width: 47vw;
    border: #5FA800 solid 1px;
    height: 39px;
    border-radius: 2px;
    font-size: 12px;
    color: #9E9E9E;
    letter-spacing: 0.19px;
    padding-left: 10px;
}
.header-search-button{
    background-color: #5FA800;
    border: none;
    height: 39px;
    width: 39px;
    margin-left: 0;
}

.header-actions{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-actions img{
    height: 24px;
}

.header-bottom-inner{
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 14px;
    height: 45px;
    width: 90vw;
    margin: auto;
    gap: 20px;
}

.header-bottom{
    background-color: #333333;
}

.header-bottom-browse-category button{
    background-color: #5FA800;
    padding: 11px 60px;
    height: 100%;
    border: none;
    color: white;
}
.header-bottom-menu button{
    background-color: transparent;
    padding: 11px 16px;
    border: none;
    color: white;
}

.vertical-line {
    display: inline;
    height: 20px;
    margin: 1px;
    border-left: 1px solid #545454;
}

.header-bottom-hotline{
    display: flex;
    align-items: center;
    margin-left: 190px;
    gap: 10px;
}

.header-bottom-hotline img{
    margin-top: 7px;
}

.number{
    color: #CACACA;
    margin: 0;
}

.hotline{
    color: #5FA800;
    margin: 0;
}

.middle{
    background: url("../images/background.png");
    min-height: 728px;
    display: flex;
    justify-content: center;
}

.registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);

    width: 31%;
    height: 450px;
    margin-top: 122px;
    color: white;
}

.font-size_23, .font-size_14{
    text-align: center;
    margin: 10px;
}

.font-size_23{
    font-size: 23px;
}

.font-size_14{
    font-size: 14px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.form input{
    margin: 14px;
    width: 84%;
    height: 36px;
    background: transparent;
    border: white solid 1px;
    border-radius: 4px;
    color: white;
    padding-left: 10px;
}
.form input::placeholder{
    color: white;
}


.form button{
    background-color: #5FA800;
    color: white;
    text-align: center;
    margin: 14px;
    width: 84%;
    height: 36px;
    border-radius: 4px;
    border: none;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31%;
    text-align: center;
    margin-left: 28px;
    margin-right: 0;

}
.login button{
    margin-top: 16px;
    background-color: transparent;
    border: #5FA800 solid 2px;
    border-radius: 4px;
    color: #5FA800;
    height: 39px;
    font-size: 16px;
}

footer{
    background-color: #222222;
    height: 271px;
    width: 100%;
}

.footer-inner{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
    color: #9E9E9E;
    gap: 49px;

}

.footer-col-wrapper{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #9E9E9E;
    gap: 40px;
    align-items: flex-start;
    flex: 0 0 70%;
    margin-top: 48px;
}

.footer-col_header{
    color: white;
    margin-bottom: 10px;
}

.footer-col1-logo{
    margin-bottom: 20px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19%;
}

#footer-col1{
    width: 30%;
}

.footer-col a{
    text-decoration: none;
    color: #9E9E9E;
}

.footer-col_enter-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-top: 48px;
}

.footer-col_enter-email input{
    width: 80%;
    margin-top: 16px;
}

.footer-col6-buttons{
    display: flex;
    gap: 10px;
    margin-top: 13px;
}

.footer-col6-buttons button{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 4px;
    border: none;
}

.footer-bottom{
    width: 100%;
    background-color: #5FA800;
    height: 37px;
    display: flex;
    align-items: center;
}

.footer-bottom-inner{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
    color: white;
}

